<!-- Header Html start -->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.png" alt="Logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="list-unstyled expander_icon d-lg-none d-block">
      <li>
        <a class="expander" href="#" title="Expander">
          <span><img src="../../../assets/images/Expander.svg" alt="" /></span>
        </a>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div aria-label="breadcrumb" class="mr-auto">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><img class="gray_blue" src="../../../assets/images/home.svg"
                alt=""></a></li>
          <li class="breadcrumb-item active" aria-current="page"> </li>
        </ol>
      </div>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item add_blnc">
          <span>
            <img class="gray_blue" src="../../../assets/images/skip-tracing.-cricle.svg" alt="">
            <span>$ 204.78</span>
            <a class="nav-link" href="#"><img src="../../../assets/images/plus.svg" alt=""></a>
          </span>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><img class="gray_blue" src="../../../assets/images/settings.svg" alt=""></a>
        </li>
        <li class="nav-item notifi dropdown">
          <a class="nav-link" href="javascript:void();" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <img class="gray_blue" src="../../../assets/images/notif.svg" alt="">
            <span>3</span>
          </a>
          <div class="dropdown-menu notifiDrop smsMemberList">
            <div class="memberList">
              <ul>
                <li>
                  <span class="settings_icon"><a href="javascript:void();"><img
                        src="../../../assets/images/settings.svg" /></a></span>
                  <div class="media">
                    <div class="media-left">
                      <img src="../../../assets/images/check.svg">
                    </div>
                    <div class="media-right">
                      <h3><a href="javascript:void();">Import log exported</a></h3>
                      <p>Import log file 'import_history_1580963139.xlsx' exported successfully. you can download it
                        from Export Logs.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left">
                      <img src="../../../assets/images/check.svg">
                    </div>
                    <div class="media-right">
                      <h3><a href="javascript:void();">Vacant properties</a></h3>
                      <p>You have 1737 vacant properties in list Equity List</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left">
                      <img src="../../../assets/images/check_gray.svg">
                    </div>
                    <div class="media-right">
                      <h3><a href="javascript:void();">Addresses imported</a></h3>
                      <p>List 'Equity List' imported successfully.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left">
                      <img src="../../../assets/images/check_gray.svg">
                    </div>
                    <div class="media-right">
                      <h3><a href="javascript:void();">Addresses imported</a></h3>
                      <p>List 'Equity List' imported successfully.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <div class="media-left">
                      <img src="../../../assets/images/check_gray.svg">
                    </div>
                    <div class="media-right">
                      <h3><a href="javascript:void();">Maria Hernandez</a></h3>
                      <p>List 'Equity List' imported successfully.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item help_menu">
          <a class="nav-link" href="#"><img class="gray_blue" src="../../../assets/images/help.svg" alt="">HELP</a>
        </li>
        <li class="nav-item dropdown user_dropdwn">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="profile_pic">JD</span>John Manuel Doe
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Billing</a>
            <a class="dropdown-item" href="#">Affiliates</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Team</a>
            <a class="dropdown-item log_out" href="#"><img src="../../../assets/images/log_out.svg" alt="" />LOG OUT</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Header Html end -->

<!-- Sidebar Html start -->
<div class="side_bar">
  <div class="side_menu text-center">
    <ul class="list-unstyled">
      <li>
        <a href="#" title="Dashboard">
          <span class="menu_cricle"><img class="gray_blue" src="../../../assets/images/dash.svg" alt=""></span>Dashboard
        </a>
      </li>
      <li>
        <a href="#" title="Skip tracing">
          <span class="menu_cricle"><img class="gray_blue" src="../../../assets/images/skip-tracing.svg"
              alt=""></span>Skip tracing
        </a>
      </li>
      <li class="active">
        <a href="#" title="Search">
          <span class="menu_cricle"><img class="gray_blue" src="../../../assets/images/search_white.svg"
              alt=""></span>Search
        </a>
      </li>
      <li class="dropdown inbox_drop">
        <a href="#" title="Reports">
          <span class="menu_cricle"><img class="gray_blue" src="../../../assets/images/reports.svg"
              alt=""></span>Reports
        </a>
      </li>
    </ul>
    <ul class="list-unstyled expander_icon d-none d-lg-block">
      <li>
        <a class="expander" href="#" title="Expander">
          <span><img src="../../../assets/images/Expander.svg" alt="" /></span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Sidebar Html end -->



<!-- Man-content Html start -->
<section class="main_sec">
  <router-outlet></router-outlet>
</section>

<!-- Man-content Html start -->
<section class="main_sec">
	<div class="right_cntnt">
		<div class="d-flex sett_row">
			<div class="setting_mnu">
				<ul class="list-unstyled">
					<li class="active"><a href="#" title="">Profile</a></li>
					<li><a href="#" title="">BILLING</a></li>
					<li><a href="#" title="">TEAM</a></li>
					<li><a href="#" title="">CUSTOM FIELDS</a></li>
				</ul>
			</div>
			<div class="userSedit userWidth">
				<div class="userEditForm">
					<form class="search_form">
						<a class="edit_profile" href="#" title=""><img src="img/edit_icon.svg" alt="" /></a>
						<div class="row">
							<div class="col form-group with_210 margRt60">
								<label class="form_lbl paddLft15">First name</label>
								<input type="text" class="form-control" value="James Alexander">
							</div>
							<div class="col form-group with_210">
								<label class="form_lbl paddLft15">Last name</label>
								<input type="text" class="form-control" value="McKenzei">
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 form-group with_210 margRt60">
								<label class="form_lbl paddLft15">Address</label>
								<input type="text" class="form-control" value="123 St 78 Ave NW">
							</div>
							<div class="col-md-3 form-group with_210 margRt15">
								<label class="form_lbl paddLft15">City</label>
								<input type="text" class="form-control" value="Miami">
							</div>
							<div class="col form-group margRt15 width_110 text-center">
								<label class="form_lbl">State</label>
								<select class="form-control" readonly>
									<option selected>FL</option>
									<option>FL</option>
									<option>FL</option>
									<option>FL</option>
								</select>
							</div>
							<div class="col form-group width_110 text-center">
								<label class="form_lbl">ZIP code</label>
								<input type="text" class="form-control" value="33166">
							</div>
						</div>
						<div class="row">
							<div class="col form-group with_210 margRt60">
								<label class="form_lbl paddLft15">Mobile phone</label>
								<input type="text" class="form-control" value="305-123-4567">
							</div>
							<div class="col form-group with_210">
								<label class="form_lbl paddLft15">Landline</label>
								<input type="text" class="form-control" value="305-123-4567">
							</div>
						</div>
						<div class="row">
							<div class="col form-group with_255 margRt30">
								<label class="form_lbl paddLft15">Profile photo</label>
								<div class="d-flex align-items-center">
									<span class="profile_pic">JD</span>
									<div class="uploadFile">
										<input type="file" class="form-control" />
										<label class="white_btn btn_primary"><img src="img/img_upload.svg" alt="">CHANGE PICTURE</label>
									</div>
								</div>
							</div>
							<div class="col form-group with_210">
								<div class="with_145">
									<label class="form_lbl paddLft15 margBtm22">Timezone</label>
									<select class="form-control">
										<option selected>UTC</option>
										<option>UTC</option>
										<option>UTC</option>
										<option>UTC</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col form-group with_210 margRt60">
								<label class="form_lbl paddLft15">Password</label>
								<input type="password" class="form-control" value="asdsadsasfsdfda">
							</div>
							<div class="col form-group with_210">
								<label class="form_lbl paddLft15">Repeat password</label>
								<input type="password" class="form-control" value="asdsadsasfsdfda">
							</div>
						</div>
						<div class="modal_btn prifile_btn text-center">
							<button type="button" class="btn btn_primary save_btn"><img src="img/save.svg" alt=""> SAVE</button>
							<button type="button" class="btn cancel_btn"><span class="close_icon">×</span> CANCEL</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer_sec">
	<div class="container-fluid text-center">
		<p>© 2020 BatchSkipTracing. All rights reserved.</p>
	</div>
</footer>
<!-- Man-content Html start -->