<!-- Header Html start -->
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo" /></a>
      
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
		<ul class="list-unstyled expander_icon d-lg-none d-block">
			<li>
				<a class="expander" href="#" title="Expander">
					<span><img src="assets/images/expander.png" alt="" /></span>
				</a>
			</li>
		</ul>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div  aria-label="breadcrumb" class="mr-auto">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#"><img class="gray_blue" src="assets/images/home.svg" alt=""></a></li>
				<li class="breadcrumb-item active" aria-current="page">BULK SKIP TRACING</li>
			</ol>
		</div>
		<ul class="navbar-nav my-2 my-lg-0">
			<li class="nav-item add_blnc">
				<span>
					<img class="gray_blue" src="assets/images/skip-tracing.-cricle.svg" alt="">
                    
					<span>$ 204.78</span>
					<a class="nav-link" href="#"><img src="assets/images/plus.svg" alt=""></a>
				</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="#"><img class="gray_blue" src="assets/images/settings.svg" alt=""></a>
			</li>
			<li class="nav-item notifi dropdown">
				<a class="nav-link" href="javascript:void();" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<img class="gray_blue" src="assets/images/notif.svg" alt="">
					<span>3</span>
				</a>
				<div class="dropdown-menu notifiDrop smsMemberList">
					<div class="memberList">
						<ul>
							<li>
								<span class="settings_icon"><a><img src="assets/images/settings.svg" /></a></span>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check.svg">
									</div>
									<div class="media-right">
										<h3><a>Import log exported</a></h3>
										<p>Import log file 'import_history_1580963139.xlsx' exported successfully. you can download it from Export Logs.</p>							
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check.svg">
									</div>
									<div class="media-right">
										<h3><a>Vacant properties</a></h3>
										<p>You have 1737 vacant properties in list Equity List</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3><a>Addresses imported</a></h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3><a>Addresses imported</a></h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3><a>Maria Hernandez</a></h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>							
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item help_menu">
				<a class="nav-link" href="#"><img class="gray_blue" src="assets/images/help.svg" alt="">HELP</a>
			</li>
			<li class="nav-item dropdown user_dropdwn">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="profile_pic">JD</span>John Manuel Doe
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Profile</a>
				  <a class="dropdown-item" href="#">Billing</a>
				  <a class="dropdown-item" href="#">Affiliates</a>
				  <a class="dropdown-item" href="#">Settings</a>
				  <a class="dropdown-item" href="#">Team</a>
				  <a class="dropdown-item log_out" href="#"><img src="assets/images/log_out.svg" alt="" />LOG OUT</a>
				</div>
			</li>
		</ul>
	  </div>
	</nav>
</header>
<!-- Header Html end -->

<!-- Sidebar Html start -->
<div class="side_bar">
	<div class="side_menu text-center">
		<ul class="list-unstyled">
			<li class="active">
				<a href="#" title="Dashboard">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/dash.svg" alt=""></span>Dashboard
				</a>
			</li>
			<li>
				<a href="#" title="Map search">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/skip-tracing.svg" alt=""></span>Skip tracing
				</a>
			</li>
			<li>
				<a href="#" title="Properties">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/search_white.svg" alt=""></span>Search
				</a>
			</li>
			<li class="dropdown inbox_drop">
				<a href="#" title="Reports">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/reports.svg" alt=""></span>Reports
				</a>
			</li>
		</ul>
		<ul class="list-unstyled expander_icon d-none d-lg-block">
			<li>
				<a class="expander" href="#" title="Expander">
					<span><img src="assets/images//Expander.svg" alt="" /></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- Sidebar Html end -->

<!-- Man-content Html start -->
<section class="main_sec">
	<div class="right_cntnt">
		<div class="d-flex sett_row bulkTracing">
			<div class="userSedit w-100">
				<div class="userEditForm integ_page prpti_addNew">
					<div id="accordion" class="import_step">
					  <div class="card card-active">
						<div class="card-header border-0" id="headingOne">
						  <h5 class="mb-0">
							 <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  <span class="cricle_step">1</span>Upload your file
							  <span class="step_text">OwnersDB.csv: <b>53 lines with 10 columns</b> </span>
							 </button>
						  </h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						  <div class="card-body">
							<div class="text-right">
								<a class="down_doc" href="#" title=""><img src="assets/images/img_upload.svg" alt="">Download sample</a>
							</div>
							<div class="import_box">
								<div class="uploadFile text-center">
									<input type="file" class="form-control">
									<label class="white_btn btn_primary d-flex justify-content-center align-items-center">
										<span><img src="assets/images/import_file.svg" alt=""> Drop files here or click to upload</span>
									</label>
								</div>
							</div>
							<div class="text-center next_pre">
								<button type="button" class="btn plus_btn pre_btn">
									<img src="assets/images/del_white.svg" alt="">
								</button>
								<button type="button" class="btn btn_primary plus_btn next_btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<img src="assets/images/arrow_right.svg" alt="">
								</button>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="card">
						<div class="card-header border-0" id="headingTwo">
						  <h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							  <span class="cricle_step">2</span>Mapping data
							  <span class="step_text">First Name, Address, State, City, Zip, Mailing address</span>
							</button>
						  </h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						  <div class="card-body">
							<form class="search_form step_form">
								<div class="row">
									<div class="col-lg-5 col-md-4">
										<div class="form-group">
											<label class="form_lbl" for="exampleFormControlSelect2">Select Spreadsheet Tab</label>
											<select multiple class="form-control multi_select" id="exampleFormControlSelect2">
												  <option>Worksheet</option>
											</select>
										</div>
									</div>
									<div class="col-lg-3 col-md-4">
										<div class="form-group source_fields">
											<label class="form_lbl">Source fields</label>
											<input type="text" class="form-control blue_control" placeholder="first name">
											<input type="text" class="form-control" placeholder="middle name">
											<input type="text" class="form-control blue_control" placeholder="address">
											<input type="text" class="form-control" placeholder="address2">
											<input type="text" class="form-control blue_control" placeholder="city">
										</div>
									</div>
									<div class="col-lg-3 col-md-4">
										<div class="form-group source_fields">
											<label class="form_lbl">Destination fields</label>
											<select class="form-control">
												<option selected="">Do not import</option>
												<option>Do not import</option>
											</select>
											<select class="form-control user_icon">
												<option selected="">First Name</option>
												<option>First Name</option>
												<option>First Name*</option>
												<option>Last Name*</option>
											</select>
											<select class="form-control">
												<option selected="">Do not import</option>
												<option>Do not import</option>
											</select>
											<select class="form-control address_icon">
												<option selected="">Address</option>
												<option>Property Address*</option>
												<option>Property Address 2</option>
												<option>Property City*</option>
												<option>Property State*</option>
												<option>Property Zip*</option>
											</select>
											<select class="form-control">
												<option selected="">Do not import</option>
											</select>
										</div>
									</div>
								</div>
							</form>
							<div class="text-center next_pre">
								<button type="button" class="btn plus_btn pre_btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<img src="assets/images/arrow_right.svg" alt="">
								</button>
								<button type="button" class="btn btn_primary plus_btn next_btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<img src="assets/images/arrow_right.svg" alt="">
								</button>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="card">
						<div class="card-header border-0" id="headingThree">
						  <h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  <span class="cricle_step">3</span> Anylize data
							</button>
						  </h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
						  <div class="card-body import_body p-0">
							  <form class="search_form">
									<div class="row task_manager align-items-center justify-content-end">
										<div class="noSelect">
											<select class="form-control select_no">
												<option selected="">25</option>
												<option>25</option>
												<option>25</option>
												<option>25</option>
											</select>
										</div>
										<div class="col form-group searchLgdiv search_log">
											<input type="text" name="focus" required="" class="search-box form-control search_bg" placeholder="Search log">
											<button class="close-icon" type="reset"></button>
											<button class="btn serch_btn" type="button"><img src="assets/images/search.svg" alt=""></button>
										</div>
									</div>
								</form>
								<div class="table_data anylizeData field_tble table-responsive">
									<div class="dataDiv">
										<table class="table text-left" id="example2">
										  <thead>
											<tr>
											  <th>Field Name<span class="short_arrow"></span></th>
											  <th>Property Address<span class="short_arrow"></span></th>
											  <th>City<span class="short_arrow"></span></th>
											  <th>State<span class="short_arrow"></span></th>
											  <th>Zip<span class="short_arrow"></span></th>
											  <th>Mailing Address<span class="short_arrow"></span></th>
											  <th>Mailing Cit<span class="short_arrow"></span></th>
											  <th>Mailing State<span class="short_arrow"></span></th>
											  <th>Mailing Zip<span class="short_arrow"></span></th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td>Karen Mulligan</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>						 
											</tr>
											<tr>
											  <td>Karen Mulligan</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>						 
											</tr>
											<tr>
											  <td>Karen Mulligan</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>						 
											</tr>
											<tr>
											  <td>Karen Mulligan</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>						 
											</tr>
											<tr>
											  <td>Karen Mulligan</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>						 
											</tr>
											<tr>
											  <td>Karen Mulligan</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>
											  <td>1 N San Francisco St</td>
											  <td>Littleton</td>
											  <td>00</td>
											  <td>33126</td>						 
											</tr>
										  </tbody>
										</table>
									</div>
									<form class="search_form anylizeInputs ">
										<div class="task_manager">
											<div class="form-group labelDiv">
												<strong class="bold_content">Name you list</strong>
											</div>
											<div class="form-group">
												<input type="text" name="focus" required="" class="form-control" placeholder="My first list">
											</div>
										</div>
									</form>
								</div>
							
						  </div>
						</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="">
				<div class="userSedit complete_profile tracingWizard">
					<div class="prfile_progrs">
						<div class="progrs_text">
							<h5>Skip Tracing Wizard</h5>
							<div class="progress prog_ress">
							  <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<label class="complete_label"><img src="assets/images/check.svg" alt="">Buy skip credits</label>
							<label class="complete_label"><img src="assets/images/check.svg" alt="">Upload your file</label>
							<label><img src="assets/images/minus.svg" alt="">Map data fields</label>
							<label><img src="assets/images/minus.svg" alt="">Analyze a result</label>
							<label><img src="assets/images/minus.svg" alt="">Receive completeness alert</label>
						</div>					
					</div>
				</div>
				<div class="userSedit complete_profile tracingWizard">
					<div class="prfile_progrs">
						<div class="progrs_text">
							<h4><img src="assets/images/grayQuation.svg" alt="">Skip tracing search</h4>
							<p>
								Batch search is a fast way to find current phone numbers for a list of property addresses.
								<br/>								
								BST skip traces each address in your list and returns an updated address with an attached phone number(s). You can view your results in your BST account and/or download them.
							</p>
							<div class="checkListing">
								<label class="check_label"><img src="assets/images/check_gray.svg" alt="">Up to 3 phone # per contact</label>
								<label class="check_label"><img src="assets/images/check_gray.svg" alt="">Result in 15 min or less!</label>
							</div>
							<p class="pList">
								- Minimum size is 50 records <br/>
								- Maximum CSV/Excel file size is 20Mb <br/>
								- Required fields for each record: Address, City, State, Zip <br/>
								- Optional fields for each record: First and Last names
							</p>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="footer_sec">
	<div class="container-fluid text-center">
		<p>© 2020 BatchSkipTracing. All rights reserved.</p>
	</div>
</footer>
<!-- Man-content Html start -->