<!-- Header Html start -->
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo" /></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
		<ul class="list-unstyled expander_icon d-lg-none d-block">
			<li>
				<a class="expander" href="#" title="Expander">
					<span><img src="assets/images/Expander.svg" alt="" /></span>
				</a>
			</li>
		</ul>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div  aria-label="breadcrumb" class="mr-auto">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#"><img class="gray_blue" src="assets/images/home.svg" alt=""></a></li>
				<li class="breadcrumb-item active" aria-current="page">LISTS</li>
			</ol>
		</div>
		<ul class="navbar-nav my-2 my-lg-0">
			<li class="nav-item add_blnc">
				<span>
					<img class="gray_blue" src="assets/images/skip-tracing.-cricle.svg" alt="">
					<span>$ 204.78</span>
					<a class="nav-link" href="#"><img src="assets/images/plus.svg" alt=""></a>
				</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="#"><img class="gray_blue" src="assets/images/settings.svg" alt=""></a>
			</li>
			<li class="nav-item notifi dropdown">
				<a class="nav-link" href="javascript:void();" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<img class="gray_blue" src="assets/images/notif.svg" alt="">
					<span>3</span>
				</a>
				<div class="dropdown-menu notifiDrop smsMemberList">
					<div class="memberList">
						<ul>
							<li>
								<span class="settings_icon"><a href="javascript:void();"><img src="assets/images/settings.svg" /></a></span>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check.svg">
									</div>
									<div class="media-right">
										<h3>Import log exported</h3>
										<p>Import log file 'import_history_1580963139.xlsx' exported successfully. you can download it from Export Logs.</p>							
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check.svg">
									</div>
									<div class="media-right">
										<h3>Vacant properties</h3>
										<p>You have 1737 vacant properties in list Equity List</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3>Addresses imported</h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3>Addresses imported</h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3><a href="javascript:void();" >Maria Hernandez</a></h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>							
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item help_menu">
				<a class="nav-link" href="#"><img class="gray_blue" src="assets/images/help.svg" alt="">HELP</a>
			</li>
			<li class="nav-item dropdown user_dropdwn">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="profile_pic">JD</span>John Manuel Doe
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Profile</a>
				  <a class="dropdown-item" href="#">Billing</a>
				  <a class="dropdown-item" href="#">Affiliates</a>
				  <a class="dropdown-item" href="#">Settings</a>
				  <a class="dropdown-item" href="#">Team</a>
				  <a class="dropdown-item log_out" href="#"><img src="assets/images/log_out.svg" alt="" />LOG OUT</a>
				</div>
			</li>
		</ul>
	  </div>
	</nav>
</header>
<!-- Header Html end -->

<!-- Sidebar Html start -->
<div class="side_bar">
	<div class="side_menu text-center">
		<ul class="list-unstyled">
			<li>
				<a href="#" title="Dashboard">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/dash.svg" alt=""></span>Dashboard
				</a>
			</li>
			<li class="active">
				<a href="#" title="Skip tracing">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/skip-tracing.svg" alt=""></span>Skip tracing
				</a>
			</li>
			<li>
				<a href="#" title="Search">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/search_white.svg" alt=""></span>Search
				</a>
			</li>
			<li class="dropdown inbox_drop">
				<a href="#" title="Reports">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/reports.svg" alt=""></span>Reports
				</a>
			</li>
		</ul>
		<ul class="list-unstyled expander_icon d-none d-lg-block">
			<li>
				<a class="expander" href="#" title="Expander">
					<span><img src="assets/images/Expander.svg" alt="" /></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- Sidebar Html end -->

<!-- Man-content Html start -->
<section class="main_sec">
	<div class="right_cntnt report_sec">
		<div class="list_box campaignsTop">
			<div class="equity_box">
				<a href="#" class="cross_icon"><img src="assets/images/close.svg" alt=""></a>
				<div class="d-flex row_gap18 align-items-center">
					<div class="col">
						<div class="d-flex row_gap18">
							<div class="col">
								<div class="smsent_box d-flex justify-content-between align-items-center">
									<h4>42</h4>
									<p class="">Total orders</p>
									<div class="text-right active">
										<a href="#"><img src="assets/images/up_arrow.svg" alt=""></a><span>7%</span>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="smsent_box d-flex justify-content-between align-items-center">
									<h4>38</h4>
									<p class="">Completed orders</p>
									<div class="text-right active">
										<a href="#"><img src="assets/images/up_arrow.svg" alt=""></a><span>47%</span>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="smsent_box d-flex align-items-center">
									<h4>34</h4>
									<p class="">Pending orders</p>
								</div>
							</div>
							<div class="col">
								<div class="smsent_box d-flex justify-content-between align-items-center">
									<h4>72.6%</h4>
									<p class="">Matches</p>
									<div class="text-right active">
										<a href="#"><img src="assets/images/up_arrow.svg" alt=""></a><span>47%</span>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="smsent_box d-flex justify-content-between align-items-center">
									<h4>34</h4>
									<p class="">Errors</p>
									<div class="text-right error_arrow">
										<a href="#"><img src="assets/images/error-arrow.svg" alt=""></a><span>31%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col days_box">
						<div class="days_btns">
							<button type="button" class="btn">7 days</button>
							<button type="button" class="btn white_btn">30 days</button>
							<button type="button" class="btn white_btn">90 days</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form class="search_form skipTrace">
			<div class="row align-items-center">
				<div class="col form-group">
					<div class="searchdiv">
						<input type="text" name="focus" required class="search-box form-control search_bg" placeholder="Search order or list ..." />
						<button class="close-icon" type="reset"></button>
						<button class="btn serch_btn" type="button"><img src="assets/images/search.svg" alt="" /></button>
					</div>
				</div>
				<div class="col form-group radio_form">
					<div class="custom_radio">
						<label class="radio_cstm">All
							<input type="radio" checked="checked" name="radio">
							<span class="checkmark"></span>
						</label>
						<label class="radio_cstm">Completed
							<input type="radio" name="radio">
							<span class="checkmark"></span>
						</label>
						<label class="radio_cstm">Pending
							<input type="radio" name="radio">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
				<div class="col form-group range_box">
					<div class="jumbotron">
						<label>Addresses</label>
						<input id="range" type="text"/>
					</div>
				</div>
				<div class="col form-group">
					<div class="dropdown text-right skip_drop">
					  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="assets/images/skip-tracing.svg" alt="">SKIP TRACE
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">BULK SKIP</a>
						<a class="dropdown-item" href="#">SINGLE SKIP</a>
					  </div>
					</div>
				</div>
			</div>
		</form>
		
		<div class="table_data table-responsive campaign_table">			
					<table id="example" class="table text-left">
						<thead>
							<tr>
								<th>Order<span class="short_arrow"></span></th>
								<th>List Name<span class="short_arrow"></span></th>
								<th>Uploaded File<span class="short_arrow"></span></th>
								<th>Addresses<span class="short_arrow"></span></th>
								<th>Matches<span class="short_arrow"></span></th>
								<th>Hit %<span class="short_arrow"></span></th>
								<th>Total cost<span class="short_arrow"></span></th>
								<th>Status<span class="short_arrow"></span></th>
								<th>Added<span class="short_arrow"></span></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>00627</td>
								<td class="progress_custom">May California</td>
								<td class="text-center">May California.csv</td>
								<td><b>97</b></td>
								<td><b>-</b></td>
								<td><b>-</b></td>
								<td><b>-</b></td>
								<td><a href="#" class="check_tble"><img src="assets/images/minus.svg" alt=""></a></td>	
								<td>08/05/20</td>
								<td class="text-right">
									<span class="no-wrap action_btn">
										<a class="icon_spacing light_icon"><img src="assets/images/edit.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/delete.svg" alt=""></a>
									</span>
								</td>
							</tr>
							<tr>
								<td>00627</td>
								<td class="progress_custom">May California</td>
								<td class="text-center">May California.csv</td>
								<td><b>97</b></td>
								<td><b>-</b></td>
								<td><b>-</b></td>
								<td><b>-</b></td>
								<td><a href="#" class="check_tble"><img src="assets/images/minus.svg" alt=""></a></td>	
								<td>08/05/20</td>
								<td class="text-right">
									<span class="no-wrap action_btn">
										<a class="icon_spacing light_icon"><img src="assets/images/edit.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/delete.svg" alt=""></a>
									</span>
								</td>
							</tr>
							<tr>
								<td>00627</td>
								<td class="progress_custom">May California</td>
								<td class="text-center">May California.csv</td>
								<td><b>97</b></td>
								<td><b>90</b></td>
								<td><b>45.5%</b></td>
								<td><b>$13.50</b></td>
								<td><a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a></td>	
								<td>08/05/20</td>
								<td class="text-right">
									<span class="no-wrap action_btn">
										<a class="icon_spacing"><img src="assets/images/download_gray.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/edit.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/delete.svg" alt=""></a>
									</span>
								</td>
							</tr>
							<tr>
								<td>00627</td>
								<td class="progress_custom">May California</td>
								<td class="text-center">May California.csv</td>
								<td><b>97</b></td>
								<td><b>90</b></td>
								<td><b>45.5%</b></td>
								<td><b>$13.50</b></td>
								<td><a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a></td>	
								<td>08/05/20</td>
								<td class="text-right">
									<span class="no-wrap action_btn">
										<a class="icon_spacing"><img src="assets/images/download_gray.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/edit.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/delete.svg" alt=""></a>
									</span>
								</td>
							</tr>
							<tr>
								<td>00627</td>
								<td class="progress_custom">May California</td>
								<td class="text-center">May California.csv</td>
								<td><b>97</b></td>
								<td><b>90</b></td>
								<td><b>45.5%</b></td>
								<td><b>$13.50</b></td>
								<td><a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a></td>	
								<td>08/05/20</td>
								<td class="text-right">
									<span class="no-wrap action_btn">
										<a class="icon_spacing"><img src="assets/images/download_gray.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/edit.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/delete.svg" alt=""></a>
									</span>
								</td>
							</tr>
							<tr>
								<td>00627</td>
								<td class="progress_custom">May California</td>
								<td class="text-center">May California.csv</td>
								<td><b>97</b></td>
								<td><b>90</b></td>
								<td><b>45.5%</b></td>
								<td><b>$13.50</b></td>
								<td><a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a></td>	
								<td>08/05/20</td>
								<td class="text-right">
									<span class="no-wrap action_btn">
										<a class="icon_spacing"><img src="assets/images/download_gray.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/edit.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/delete.svg" alt=""></a>
									</span>
								</td>
							</tr>
							<tr>
								<td>00627</td>
								<td class="progress_custom">May California</td>
								<td class="text-center">May California.csv</td>
								<td><b>97</b></td>
								<td><b>90</b></td>
								<td><b>45.5%</b></td>
								<td><b>$13.50</b></td>
								<td><a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a></td>	
								<td>08/05/20</td>
								<td class="text-right">
									<span class="no-wrap action_btn">
										<a class="icon_spacing"><img src="assets/images/download_gray.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/edit.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/delete.svg" alt=""></a>
									</span>
								</td>
							</tr>
							<tr>
								<td>00627</td>
								<td class="progress_custom">May California</td>
								<td class="text-center">May California.csv</td>
								<td><b>97</b></td>
								<td><b>90</b></td>
								<td><b>45.5%</b></td>
								<td><b>$13.50</b></td>
								<td><a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a></td>	
								<td>08/05/20</td>
								<td class="text-right">
									<span class="no-wrap action_btn">
										<a class="icon_spacing"><img src="assets/images/download_gray.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/edit.svg" alt=""></a>
										<a class="icon_spacing"><img src="assets/images/delete.svg" alt=""></a>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
	</div>
</section>

<footer class="footer_sec">
	<div class="container-fluid text-center">
		<p>© 2020 BatchSkipTracing. All rights reserved.</p>
	</div>
</footer>
<!-- Man-content Html start -->


<footer class="footer_sec">
	<div class="container-fluid text-center">
		<p>© 2020 BatchSkipTracing. All rights reserved.</p>
	</div>
</footer>
<!-- Man-content Html start -->