<!-- Header Html start -->
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo" /></a>
      
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
		<ul class="list-unstyled expander_icon d-lg-none d-block">
			<li>
				<a class="expander" href="#" title="Expander">
					<span><img src="assets/images/Expander.svg" alt="" /></span>
				</a>
			</li>
		</ul>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div  aria-label="breadcrumb" class="mr-auto">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#"><img class="gray_blue" src="img/home.svg" alt=""></a></li>
				<li class="breadcrumb-item"><a href="#">USER SETTINGS</a></li>
				<li class="breadcrumb-item active" aria-current="page">Custom fields</li>
			</ol>
		</div>
		<ul class="navbar-nav my-2 my-lg-0">
			<li class="nav-item add_blnc">
				<span>
					<img class="gray_blue" src="assets/images/skip-tracing.-cricle.svg" alt="">
					<span>$ 204.78</span>
					<a class="nav-link" href="#"><img src="assets/images/plus.svg" alt=""></a>
				</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="#"><img class="gray_blue" src="assets/images/settings.svg" alt=""></a>
			</li>
			<li class="nav-item notifi dropdown">
				<a class="nav-link" href="javascript:void();" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<img class="gray_blue" src="assets/images/notif.svg" alt="">
					<span>3</span>
				</a>
				<div class="dropdown-menu notifiDrop smsMemberList">
					<div class="memberList">
						<ul>
							<li>
								<span class="settings_icon"><img src="assets/images/settings.svg" /></span>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check.svg">
									</div>
									<div class="media-right">
										<h3>Import log exported</h3>
										<p>Import log file 'import_history_1580963139.xlsx' exported successfully. you can download it from Export Logs.</p>							
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check.svg">
									</div>
									<div class="media-right">
										<h3>Vacant properties</h3>
										<p>You have 1737 vacant properties in list Equity List</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3>Addresses imported</h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3>Addresses imported</h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3>Maria Hernandez</h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>							
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item help_menu">
				<a class="nav-link" href="#"><img class="gray_blue" src="assets/images/help.svg" alt="">HELP</a>
			</li>
			<li class="nav-item dropdown user_dropdwn">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="profile_pic">JD</span>John Manuel Doe
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Profile</a>
				  <a class="dropdown-item" href="#">Billing</a>
				  <a class="dropdown-item" href="#">Affiliates</a>
				  <a class="dropdown-item" href="#">Settings</a>
				  <a class="dropdown-item" href="#">Team</a>
				  <a class="dropdown-item log_out" href="#"><img src="assets/images/log_out.svg" alt="" />LOG OUT</a>
				</div>
			</li>
		</ul>
	  </div>
	</nav>
</header>
<!-- Header Html end -->

<!-- Sidebar Html start -->
<div class="side_bar">
	<div class="side_menu text-center">
		<ul class="list-unstyled">
			<li class="active">
				<a href="#" title="Dashboard">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/dash.svg" alt=""></span>Dashboard
				</a>
			</li>
			<li>
				<a href="#" title="Map search">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/skip-tracing.svg" alt=""></span>Skip tracing
				</a>
			</li>
			<li>
				<a href="#" title="Properties">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/search_white.svg" alt=""></span>Search
				</a>
			</li>
			<li class="dropdown inbox_drop">
				<a href="#" title="Reports">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/reports.svg" alt=""></span>Reports
				</a>
			</li>
		</ul>
		<ul class="list-unstyled expander_icon d-none d-lg-block">
			<li>
				<a class="expander" href="#" title="Expander">
					<span><img src="assets/images/Expander.svg" alt="" /></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- Sidebar Html end -->

<!-- Man-content Html start -->
<section class="main_sec">
	<div class="right_cntnt">
		<div class="d-flex sett_row">
			<div class="setting_mnu">
				<ul class="list-unstyled">
					<li><a href="#" title="">Profile</a></li>
					<li><a href="#" title="">BILLING</a></li>
					<li><a href="#" title="">TEAM</a></li>
					<li class="active"><a href="#" title="">CUSTOM FIELDS</a></li>
				</ul>
			</div>
			<div class="serch_bar">
				<div class="table_data field_tble table-responsive">
					<table class="table text-left" id="example2">
					  <thead>
						<tr>
						  <th>Field Name<span class="short_arrow"></span></th>
						  <th>Description<span class="short_arrow"></span></th>
						  <th>Active<span class="short_arrow"></span></th>
						  <th class="arrow_hide">&nbsp</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>Some field name 1</td>
						  <td>Lorem ipsum dolor si...</td>
						  <td class="backup_message">
							<a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a>
							</td>
						  <td>				
							<div class="dropdown d-inline">								
							<a href="javascript:void:(0);" class="icon_spacing" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/edit.svg" alt=""></a>
							<div class="edit_list dropdown-menu" aria-labelledby="dropdownMenuButton">
									<h3>Edit tag</h3>
									<div class="post_update inlut-sp ">
										<input type="text" placeholder="Some tag name" class="form-control">
										<div class="d-flex button_style justify-content-between">
										<button type="button" class="btn btn_primary bg-white" id="cancel">
											<img src="assets/images/close.svg" alt=""> CANCEL
										</button>
										<button type="button" class="btn btn_primary">
											<img src="assets/images/save.svg" alt="">SAVE LIST
										</button>
										</div>
									</div>
								</div>									
							</div>
						  </td>
						</tr>
						<tr>
						  <td>Some field name 1</td>
						  <td>Lorem ipsum dolor si...</td>
						  <td class="backup_message">
							<a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a>
							</td>
						  <td>				
							<div class="dropdown d-inline">								
							<a href="javascript:void:(0);" class="icon_spacing" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/edit.svg" alt=""></a>
							<div class="edit_list dropdown-menu" aria-labelledby="dropdownMenuButton2">
									<h3>Edit tag</h3>
									<div class="post_update inlut-sp ">
										<input type="text" placeholder="Some tag name" class="form-control">
										<div class="d-flex button_style justify-content-between">
										<button type="button" class="btn btn_primary bg-white" id="cancel">
											<img src="assets/images/close.svg" alt=""> CANCEL
										</button>
										<button type="button" class="btn btn_primary">
											<img src="assets/images/save.svg" alt="">SAVE LIST
										</button>
										</div>
									</div>
								</div>									
							</div>
						  </td>
						</tr>
						<tr>
						  <td>Some field name 1</td>
						  <td>Lorem ipsum dolor si...</td>
						  <td class="backup_message">
							<a href="#" class="check_tble"><img src="assets/images/check.svg" alt=""></a>
							</td>
						  <td>				
							<div class="dropdown d-inline">								
							<a href="javascript:void:(0);" class="icon_spacing" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/edit.svg" alt=""></a>
							<div class="edit_list dropdown-menu" aria-labelledby="dropdownMenuButton3">
									<h3>Edit tag</h3>
									<div class="post_update inlut-sp ">
										<input type="text" placeholder="Some tag name" class="form-control">
										<div class="d-flex button_style justify-content-between">
										<button type="button" class="btn btn_primary bg-white" id="cancel">
											<img src="assets/images/close.svg" alt=""> CANCEL
										</button>
										<button type="button" class="btn btn_primary">
											<img src="assets/images/save.svg" alt="">SAVE LIST
										</button>
										</div>
									</div>
								</div>									
							</div>
						  </td>
						</tr>
						<tr>
						  <td>Some field name 1</td>
						  <td>Lorem ipsum dolor si...</td>
						  <td class="backup_message">
							<a href="#" class="check_tble"><img src="assets/images/minus.svg" alt=""></a>
						  </td>
						  <td>				
							<div class="dropdown d-inline">								
								<a href="javascript:void:(0);" class="icon_spacing" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/edit.svg" alt=""></a>
								<div class="edit_list dropdown-menu" aria-labelledby="dropdownMenuButton4">
									<h3>Edit tag</h3>
									<div class="post_update inlut-sp ">
										<input type="text" placeholder="Some tag name" class="form-control">
										<div class="d-flex button_style justify-content-between">
										<button type="button" class="btn btn_primary bg-white" id="cancel">
											<img src="assets/images/close.svg" alt=""> CANCEL
										</button>
										<button type="button" class="btn btn_primary">
											<img src="assets/images/save.svg" alt="">SAVE LIST
										</button>
										</div>
									</div>
								</div>									
							</div>
						  </td>
						</tr>
						<tr>
						  <td>Some field name 1</td>
						  <td>Lorem ipsum dolor si...</td>
						  <td class="backup_message">
							<a href="#" class="check_tble"><img src="assets/images/minus.svg" alt=""></a>
						  </td>
						  <td>				
							<div class="dropdown d-inline">								
								<a href="javascript:void:(0);" class="icon_spacing" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/edit.svg" alt=""></a>
								<div class="edit_list dropdown-menu" aria-labelledby="dropdownMenuButton5">
									<h3>Edit tag</h3>
									<div class="post_update inlut-sp ">
										<input type="text" placeholder="Some tag name" class="form-control">
										<div class="d-flex button_style justify-content-between">
											<button type="button" class="btn btn_primary bg-white" id="cancel">
												<img src="assets/images/close.svg" alt=""> CANCEL
											</button>
											<button type="button" class="btn btn_primary">
												<img src="assets/images/save.svg" alt="">SAVE LIST
											</button>
										</div>
									</div>
								</div>									
							</div>
						  </td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer_sec">
	<div class="container-fluid text-center">
		<p>© 2020 BatchSkipTracing. All rights reserved.</p>
	</div>
</footer>