<div class="right_cntnt report_sec">
    <div class="list_box campaignsTop">
        <div class="equity_box">
            <a href="#" class="cross_icon"><img src="img/close.svg" alt=""></a>
            <div class="d-flex row_gap18 align-items-center">
                <div class="col">
                    <div class="d-flex row_gap18">
                        <div class="col">
                            <div class="smsent_box d-flex justify-content-between align-items-center">
                                <h4>42</h4>
                                <p class="">Total orders</p>
                                <div class="text-right active">
                                    <a href="#"><img src="img/up_arrow.svg" alt=""></a><span>7%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="smsent_box d-flex justify-content-between align-items-center">
                                <h4>38</h4>
                                <p class="">Completed orders</p>
                                <div class="text-right active">
                                    <a href="#"><img src="img/up_arrow.svg" alt=""></a><span>47%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="smsent_box d-flex align-items-center">
                                <h4>34</h4>
                                <p class="">Pending orders</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="smsent_box d-flex justify-content-between align-items-center">
                                <h4>72.6%</h4>
                                <p class="">Matches</p>
                                <div class="text-right active">
                                    <a href="#"><img src="img/up_arrow.svg" alt=""></a><span>47%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="smsent_box d-flex justify-content-between align-items-center">
                                <h4>34</h4>
                                <p class="">Errors</p>
                                <div class="text-right error_arrow">
                                    <a href="#"><img src="img/error-arrow.svg" alt=""></a><span>31%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col days_box">
                    <div class="days_btns">
                        <button type="button" class="btn">7 days</button>
                        <button type="button" class="btn white_btn">30 days</button>
                        <button type="button" class="btn white_btn">90 days</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="search_form skipTrace">
        <div class="row align-items-center">
            <div class="col form-group">
                <div class="searchdiv">
                    <input type="text" name="focus" required class="search-box form-control search_bg" placeholder="Search order or list ..." />
                    <button class="close-icon" type="reset"></button>
                    <button class="btn serch_btn" type="button"><img src="img/search.svg" alt="" /></button>
                </div>
            </div>
            <div class="col form-group radio_form">
                <div class="custom_radio">
                    <label class="radio_cstm">All
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio_cstm">Completed
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio_cstm">Pending
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="col form-group range_box">
                <div class="jumbotron">
                    <label>Addresses</label>
                    <input id="range" type="text"/>
                </div>
            </div>
            <div class="col form-group">
                <div class="text-right skip_drop">
                  <button class="btn"><img src="img/skip-tracing.svg" alt="">BULK SKIP</button>
                  <button class="btn"  data-toggle="modal" data-target="#singleSkip"><img src="img/skip-tracing.svg" alt="">SINGLE SKIP</button>
                </div>
            </div>
        </div>
    </form>
    
    <div class="table_data table-responsive campaign_table">			
        <table id="example" class="table text-left">
            <thead>
                <tr>
                    <th>Order<span class="short_arrow"></span></th>
                    <th>List Name<span class="short_arrow"></span></th>
                    <th>Uploaded File<span class="short_arrow"></span></th>
                    <th>Addresses<span class="short_arrow"></span></th>
                    <th>Matches<span class="short_arrow"></span></th>
                    <th>Hit %<span class="short_arrow"></span></th>
                    <th>Total cost<span class="short_arrow"></span></th>
                    <th>Status<span class="short_arrow"></span></th>
                    <th>Added<span class="short_arrow"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00627</td>
                    <td class="progress_custom">May California</td>
                    <td class="text-center">May California.csv</td>
                    <td><b>97</b></td>
                    <td><b>-</b></td>
                    <td><b>-</b></td>
                    <td><b>-</b></td>
                    <td><a href="#" class="check_tble"><img src="img/minus.svg" alt=""></a></td>	
                    <td>08/05/20</td>
                    <td class="text-right">
                        <span class="no-wrap action_btn">
                            <a href="javascript:void:(0);" class="icon_spacing light_icon"><img src="img/edit.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/delete.svg" alt=""></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>00627</td>
                    <td class="progress_custom">May California</td>
                    <td class="text-center">May California.csv</td>
                    <td><b>97</b></td>
                    <td><b>-</b></td>
                    <td><b>-</b></td>
                    <td><b>-</b></td>
                    <td><a href="#" class="check_tble"><img src="img/minus.svg" alt=""></a></td>	
                    <td>08/05/20</td>
                    <td class="text-right">
                        <span class="no-wrap action_btn">
                            <a href="javascript:void:(0);" class="icon_spacing light_icon"><img src="img/edit.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/delete.svg" alt=""></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>00627</td>
                    <td class="progress_custom">May California</td>
                    <td class="text-center">May California.csv</td>
                    <td><b>97</b></td>
                    <td><b>90</b></td>
                    <td><b>45.5%</b></td>
                    <td><b>$13.50</b></td>
                    <td><a href="#" class="check_tble"><img src="img/check.svg" alt=""></a></td>	
                    <td>08/05/20</td>
                    <td class="text-right">
                        <span class="no-wrap action_btn">
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/download_gray.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/edit.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/delete.svg" alt=""></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>00627</td>
                    <td class="progress_custom">May California</td>
                    <td class="text-center">May California.csv</td>
                    <td><b>97</b></td>
                    <td><b>90</b></td>
                    <td><b>45.5%</b></td>
                    <td><b>$13.50</b></td>
                    <td><a href="#" class="check_tble"><img src="img/check.svg" alt=""></a></td>	
                    <td>08/05/20</td>
                    <td class="text-right">
                        <span class="no-wrap action_btn">
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/download_gray.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/edit.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/delete.svg" alt=""></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>00627</td>
                    <td class="progress_custom">May California</td>
                    <td class="text-center">May California.csv</td>
                    <td><b>97</b></td>
                    <td><b>90</b></td>
                    <td><b>45.5%</b></td>
                    <td><b>$13.50</b></td>
                    <td><a href="#" class="check_tble"><img src="img/check.svg" alt=""></a></td>	
                    <td>08/05/20</td>
                    <td class="text-right">
                        <span class="no-wrap action_btn">
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/download_gray.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/edit.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/delete.svg" alt=""></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>00627</td>
                    <td class="progress_custom">May California</td>
                    <td class="text-center">May California.csv</td>
                    <td><b>97</b></td>
                    <td><b>90</b></td>
                    <td><b>45.5%</b></td>
                    <td><b>$13.50</b></td>
                    <td><a href="#" class="check_tble"><img src="img/check.svg" alt=""></a></td>	
                    <td>08/05/20</td>
                    <td class="text-right">
                        <span class="no-wrap action_btn">
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/download_gray.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/edit.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/delete.svg" alt=""></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>00627</td>
                    <td class="progress_custom">May California</td>
                    <td class="text-center">May California.csv</td>
                    <td><b>97</b></td>
                    <td><b>90</b></td>
                    <td><b>45.5%</b></td>
                    <td><b>$13.50</b></td>
                    <td><a href="#" class="check_tble"><img src="img/check.svg" alt=""></a></td>	
                    <td>08/05/20</td>
                    <td class="text-right">
                        <span class="no-wrap action_btn">
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/download_gray.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/edit.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/delete.svg" alt=""></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>00627</td>
                    <td class="progress_custom">May California</td>
                    <td class="text-center">May California.csv</td>
                    <td><b>97</b></td>
                    <td><b>90</b></td>
                    <td><b>45.5%</b></td>
                    <td><b>$13.50</b></td>
                    <td><a href="#" class="check_tble"><img src="img/check.svg" alt=""></a></td>	
                    <td>08/05/20</td>
                    <td class="text-right">
                        <span class="no-wrap action_btn">
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/download_gray.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/edit.svg" alt=""></a>
                            <a href="javascript:void:(0);" class="icon_spacing"><img src="img/delete.svg" alt=""></a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>