<!-- Header Html start -->
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo" /></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
		<ul class="list-unstyled expander_icon d-lg-none d-block">
			<li>
				<a class="expander" href="#" title="Expander">
					<span><img src="assets/images/Expander.svg" alt="" /></span>
				</a>
			</li>
		</ul>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div  aria-label="breadcrumb" class="mr-auto">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#"><img class="gray_blue" src="assets/images/home.svg" alt=""></a></li>
				<li class="breadcrumb-item active" aria-current="page">DASHBOARD</li>
			</ol>
		</div>
		<ul class="navbar-nav my-2 my-lg-0">
			<li class="nav-item add_blnc">
				<span>
					<img class="gray_blue" src="assets/images/skip-tracing.-cricle.svg" alt="">
					<span>$ 204.78</span>
					<a class="nav-link" href="#"><img src="assets/images/plus.svg" alt=""></a>
				</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="#"><img class="gray_blue" src="assets/images/settings.svg" alt=""></a>
			</li>
			<li class="nav-item notifi dropdown">
				<a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<img class="gray_blue" src="assets/images/notif.svg" alt="">
					<span>3</span>
				</a>
				<div class="dropdown-menu notifiDrop smsMemberList">
					<div class="memberList">
						<ul>
							<li>
								<span class="settings_icon"><a><img src="assets/images/settings.svg" /></a></span>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check.svg">
									</div>
									<div class="media-right">
										<h3><a>Import log exported</a></h3>
										<p>Import log file 'import_history_1580963139.xlsx' exported successfully. you can download it from Export Logs.</p>							
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check.svg">
									</div>
									<div class="media-right">
										<h3>Vacant properties</h3>
										<p>You have 1737 vacant properties in list Equity List</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3>Addresses imported</h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3>Addresses imported</h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="media">
									<div class="media-left">
										<img src="assets/images/check_gray.svg">
									</div>
									<div class="media-right">
										<h3>Maria Hernandez</h3>
										<p>List 'Equity List' imported successfully.</p>
									</div>
								</div>
							</li>							
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item help_menu">
				<a class="nav-link" href="#"><img class="gray_blue" src="assets/images/help.svg" alt="">HELP</a>
			</li>
			<li class="nav-item dropdown user_dropdwn">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="profile_pic">JD</span>John Manuel Doe
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Profile</a>
				  <a class="dropdown-item" href="#">Billing</a>
				  <a class="dropdown-item" href="#">Affiliates</a>
				  <a class="dropdown-item" href="#">Settings</a>
				  <a class="dropdown-item" href="#">Team</a>
				  <a class="dropdown-item log_out" href="#"><img src="assets/images/log_out.svg" alt="" />LOG OUT</a>
				</div>
			</li>
		</ul>
	  </div>
	</nav>
</header>
<!-- Header Html end -->

<!-- Sidebar Html start -->
<div class="side_bar">
	<div class="side_menu text-center">
		<ul class="list-unstyled">
			<li class="active">
				<a href="#" title="Dashboard">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/dash.svg" alt=""></span>Dashboard
				</a>
			</li>
			<li>
				<a href="#" title="Map search">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/skip-tracing.svg" alt=""></span>Skip tracing
				</a>
			</li>
			<li>
				<a href="#" title="Properties">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/search_white.svg" alt=""></span>Search
				</a>
			</li>
			<li class="dropdown inbox_drop">
				<a href="#" title="Reports">
					<span class="menu_cricle"><img class="gray_blue" src="assets/images/reports.svg" alt=""></span>Reports
				</a>
			</li>
		</ul>
		<ul class="list-unstyled expander_icon d-none d-lg-block">
			<li>
				<a class="expander" href="#" title="Expander">
					<span><img src="assets/images/Expander.svg" alt="" /></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- Sidebar Html end -->

<!-- Man-content Html start -->
<section class="main_sec dash_board">
	<div class="right_cntnt">
		<!-- <a class="dashMiniIcon" href="#"><img src="img/dash_mini.svg" alt="" /></a> -->
		<div class="">
			<div class="row row_gap18 d-flex">
				<div class="col">
					<div class="smsent_box">
						<div class="text-right active">
							<a href="#"><img src="assets/images/up_arrow.svg" alt=""></a><span>7%</span>
						</div>
						<h4>64885</h4>
						<p class="">Total Skip Traced</p>
					</div>
				</div>
				<div class="col">
					<div class="smsent_box">
                    <div class="text-right">
							<a href="#"><img src="assets/images/down_arrow.svg" alt=""></a><span>12%</span>
						</div>
						<h4>2019</h4>
						<p class="">Total Orders</p>
					</div>
				</div>
				<div class="col">
					<div class="smsent_box">
						<div class="text-right active">
							<a href="#"><img src="assets/images/up_arrow.svg" alt=""></a><span>17%</span>
						</div>
						<h4>46580</h4>
						<p class="">Total Spent</p>
					</div>
				</div>
				<div class="col">
					<div class="smsent_box">
						<div class="text-right active">
							<a href="#"><img src="assets/images/up_arrow.svg" alt=""></a><span>2.3%</span>
						</div>
						<h4>1745</h4>
						<p class="">Pending Skip Traces</p>
					</div>
				</div>
				<div class="col days_box">
					<div class="days_btns">
						<button type="button" class="btn">7 days</button>
						<button type="button" class="btn white_btn">30 days</button>
						<button type="button" class="btn white_btn">90 days</button>
					</div>
				</div>
			</div>
			<div class="row row_gap48">
				<div class="col-lg-6">
					<div class="chart_box">
						<div class="dash_month d-flex justify-content-between">
							<h5>Property addresses</h5>
							<div class="year_head">
								<a class="next_year" href="#" title=""></a>
								<span>2019</span>
								<a class="prev_year" href="#" title=""></a>
							</div>
						</div>
						<div class="chart-container">
							<canvas id="canvas" style="height:340px;"></canvas>
						</div>
						<div class="chart_radio">
							<label><span class="darkblueBg"></span>PROSPECTS sent</label>
							<label><span class="blueBg"></span>RESPONded</label>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="chart_box">
						<div class="dash_month d-flex justify-content-between">
							<h5>Skip tracing monthly spending</h5>
							<div class="year_head">
								<a class="next_year" href="#" title=""></a>
								<span>2019</span>
								<a class="prev_year" href="#" title=""></a>
							</div>
						</div>
						<canvas id="chBar" style="height:250px !important;"></canvas>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="footer_sec">
	<div class="container-fluid text-center">
		<p>© 2020 BatchSkipTracing. All rights reserved.</p>
	</div>
</footer>
<!-- Man-content Html start -->